{{ define "get-jokes-by-text" }}

{{ template "header" }}

<div class="container">
    {{range $key, $value := .PaginationData.Content}}
    <div class="wrapper">
      <h3 class="joke-title">{{ $value.Title}}</h1>
      <p class="joke-body">{{ $value.Body}}</p>
      <span class="joke-score">Score: {{ $value.Score}}</span>
    </div>
    {{end}}
  
  <a href="/jokes/search?text={{.SearchRequest}}&skip={{.PaginationData.Prev}}&seed={{.PaginationData.Seed}}">Prev</a>
  <span>{{.PaginationData.CurrPage}} / {{.PaginationData.MaxPage}}</span>
  <a href="/jokes/search?text={{.SearchRequest}}&skip={{.PaginationData.Next}}&seed={{.PaginationData.Seed}}">Next</a>
</div>

{{ template "footer" }}

{{ end }}