{{ define "get-jokes-by-text" }}

{{ template "header" }}

<div class="container">
    {{range $key, $value := .Page.Content}}
    <div class="wrapper">
      <h3 class="joke-title">{{ $value.Title}}</h1>
      <p class="joke-body">{{ $value.Body}}</p>
      <span class="joke-score">Score: {{ $value.Score}}</span>
    </div>
    {{end}}
  
  <a href="/jokes/search?text={{.Data}}&skip={{.Page.Prev}}&seed={{.Page.Seed}}">Prev</a>
  <span>{{.Page.CurrPage}} / {{.Page.MaxPage}}</span>
  <a href="/jokes/search?text={{.Data}}&skip={{.Page.Next}}&seed={{.Page.Seed}}">Next</a>
</div>

{{ template "footer" }}

{{ end }}